@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@100;200;300;400;500;600;700;800;900");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #131d27;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="file"]:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.ProseMirror {
  outline: 0;
}

.ProseMirror p.is-editor-empty:first-child:before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror > pre {
  background: #0d0d0d;
  color: white;
  font-family: monospace;
  margin: 0.5rem 0rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror > pre > code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror > ol {
  list-style: decimal;
}

.ProseMirror > ul {
  list-style: disc;
}
.ProseMirror > ol,
.ProseMirror > ul {
  padding-inline-start: 20px;
  margin: unset;
}

@layer components {
  input[type="checkbox"] {
    @apply flex items-center justify-center bg-gray-700 border-gray-600 ring-offset-gray-800 focus:ring-blue-600 cursor-pointer appearance-none rounded transition-colors outline-none;
  }
  input[type="checkbox"]:after {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    @apply font-extrabold text-xs text-white hidden;
  }

  input[type="checkbox"]:disabled:after {
    @apply text-gray-200;
  }

  input[type="checkbox"]:hover {
    @apply bg-gray-700;
  }

  input[type="checkbox"]:disabled {
    @apply bg-gray-800 border-gray-700 cursor-not-allowed;
  }

  input[type="checkbox"]:checked {
    @apply bg-primary-700;
  }

  input[type="checkbox"]:checked:disabled {
    @apply bg-primary-800;
  }

  input[type="checkbox"]:checked:after {
    @apply block;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
